#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

div {
  max-width: 800px;
}

.whitespace-pre {
  white-space: pre-wrap;
}

.card {
  padding: 2em;
}

.flex {
  display: flex;
}

.gap-2 {
  gap: 8px;
}